* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

.container {
  position: relative;
  width: 1844px;
  margin: 0 auto;
}

.header {
  height: 135px;
  background-color: #e9e9e9;
  padding: 31px 0;
}
.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header_navbar_telephone {
  cursor: pointer;
}
.header_navbar_btn {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  width: 166px;
  height: 27px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  background-color: #343534;
  cursor: pointer;
}

.menu_link {
  color: #091606;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  padding-left: 70px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  list-style-type: none;
}

.street {
  display: block;
  margin-top: 30px;
  color: #000000;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
}

.promo {
  height: 941px;
  background: url("../img/fonimg.png") center center/cover no-repeat;
  padding: 226px 0 399px 0;
}
.promo-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.promo_btn {
  display: block;
  position: absolute;
  margin-top: 210px;
  right: 52%;
  color: #ffffff;
  font-size: 26px;
  font-weight: 400;
  width: 278px;
  height: 50px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#0839d9), to(#002396));
  background-image: linear-gradient(to top, #0839d9 0%, #002396 100%);
  opacity: 0.7;
}

.title {
  position: relative;
  display: block;
  padding-left: 20px;
  color: #1d1d1d;
  font-family: Roboto;
  font-size: 68px;
  font-weight: 700;
  text-align: center;
  margin-right: 330px;
}

.label {
  display: block;
  margin-top: 39px;
  color: #212020;
  font-family: "Open Sans";
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  margin-right: 330px;
}

.advantages-block {
  width: 100%;
  height: 100vh;
  background: url("../img/fonbg.png") center center/cover no-repeat;
}

.advantages-block-title {
  width: 100%;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #091606;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 700;
  padding-top: 100px;
}

span {
  color: #091606;
  font-family: "Open Sans";
  font-size: 26px;
  font-weight: 700;
}

.advantages-block-content {
  width: 100%;
  height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantage {
  width: calc(100% / 3);
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon {
  width: 120px;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25%;
  margin-bottom: 50px;
  -webkit-transition: 0.3s -webkit-transform ease;
  transition: 0.3s -webkit-transform ease;
  transition: 0.3s transform ease;
  transition: 0.3s transform ease, 0.3s -webkit-transform ease;
  cursor: pointer;
}
.icon:hover {
  -webkit-transform: scale(1.2) translateY(-10px);
          transform: scale(1.2) translateY(-10px);
}

.reasons {
  width: 100%;
  height: 1135px;
  background: url("../img/goldenimg.png") center center/cover no-repeat;
  padding: 256px 0 377px 0;
}
.reasons_btn {
  display: block;
  width: 237px;
  height: 50px;
  border-radius: 15px;
  border: 1px solid #ffffff;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f92e37), to(#fd3131));
  background-image: linear-gradient(to top, #f92e37 0%, #fd3131 100%);
  opacity: 0.8;
  color: #ffffff;
  font-family: Georgia;
  font-size: 26px;
  font-weight: 400;
  margin: 0 auto;
  margin-top: 54px;
  cursor: pointer;
}
.reasons_btn:hover {
  color: #ffffff;
  font-size: 28px;
  opacity: none;
  background-image: red;
}

.titles {
  color: #fefefe;
  font-family: Roboto;
  font-size: 68px;
  font-weight: 700;
  text-align: center;
}

.premore {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 42px;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
  margin-top: 52px;
}

.linebet {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 42px;
  font-weight: 400;
  text-decoration: underline;
  margin-top: 47px;
  text-align: center;
}

.message {
  height: 694px;
  padding: 115px 0 105px 0;
  background-color: rgba(0, 0, 0, 0.17);
  z-index: 3;
}
.message_wrap {
  z-index: 5;
}

.layers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 151px;
}

.table {
  text-align: center;
  color: #171817;
  font-family: Roboto;
  font-size: 55px;
  font-weight: bold;
  font-style: italic;
  line-height: 50px;
}

.polosa {
  display: block;
  margin: 0 auto;
  width: 1900px;
  height: 5px;
  background-color: #091606;
  opacity: 0.6;
}

.offer {
  height: 2010px;
  padding: 146px 0 167px 0;
  background-color: rgba(0, 0, 0, 0.17);
}

.subtitle {
  color: #091606;
  font-family: Roboto;
  font-size: 68px;
  font-weight: 700;
  line-height: 79px;
  text-align: center;
}

.banken_depos {
  display: block;
  margin: 0 auto;
  margin-top: 121px;
  cursor: pointer;
}

.partner {
  height: 850px;
  padding: 0 0 95px 0;
  background-color: rgba(0, 0, 0, 0.17);
}

.bankeryou_web {
  display: block;
  margin: 0 -50px;
}

.banks_big {
  display: block;
  margin: 0 auto;
  margin-top: 88px;
}

.expert {
  height: 1109px;
  background: url("../img/money.png") center center/cover no-repeat;
  background-color: rgba(0, 0, 0, 0.17);
  padding: 90px 0 460px 0;
}
.expert_btn {
  display: block;
  margin: 0 auto;
  margin-top: 95px;
  width: 493px;
  height: 81px;
  border-radius: 10px;
  border: 1px solid #000000;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#cc3824), to(#ae1725));
  background-image: linear-gradient(to top, #cc3824 0%, #ae1725 100%);
  opacity: 0.75;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 26px;
  font-weight: 400;
  line-height: 48px;
}

.titlen {
  color: #ffffff;
  font-family: Roboto;
  font-size: 68px;
  font-weight: 700;
  font-style: italic;
  line-height: 50px;
  text-align: center;
}

.subtitlen {
  display: block;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 68px;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
  margin-top: 63px;
}

.text {
  display: block;
  color: #fefefe;
  font-family: "Myriad Pro";
  font-size: 42px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  margin-top: 61px;
}

.implication {
  display: block;
  color: #ffffff;
  font-family: Roboto;
  font-size: 42px;
  font-weight: 300;
  line-height: 48px;
  text-align: center;
  margin-top: 66px;
}

.business {
  padding: 149px 0;
}

.footer {
  height: 449px;
  background-color: #2f2f2e;
  padding: 181px 0 72px 0;
}

.streettext {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 40;
  text-align: center;
}

.newtelephone {
  display: block;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 400;
  margin-top: 19px;
  text-align: center;
  text-decoration: none;
}

.social {
  color: #ffffff;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 39px;
  margin-right: 40px;
}
.social_item {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 5px solid #ffffff;
  text-align: center;
  line-height: 40px;
  margin-right: 100px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.whatsaap:hover {
  border-color: #4dc247;
  -webkit-box-shadow: 0 0 35px #4dc247;
          box-shadow: 0 0 35px #4dc247;
  color: #4dc247;
  cursor: pointer;
}

.facebook:hover {
  border-color: #0a5cff;
  -webkit-box-shadow: 0 0 35px #0a5cff;
          box-shadow: 0 0 35px #0a5cff;
  color: #0a5cff;
  cursor: pointer;
}

.envelope:hover {
  border-color: #db0b0b;
  -webkit-box-shadow: 0 0 35px #db0b0b;
          box-shadow: 0 0 35px #db0b0b;
  color: #db0b0b;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */